## Integrantes

1. 
2. 
3. 
4.

# Instrucciones

El laboratorio tiene 6ptos, donde obtener 6 ptos equivale a un 7.0 y 0 ptos a un 1.0. El formato de entrega será subir a u-cursos un **único** jupyter notebook por grupo.
El notebook debe ejecutar desde la primera celda a la última **sin errores**. Todo el código debe estar en el mismo notebook. El código debe estar en un formato **presentable** y **ejecutado**.


**Nota:** Se descontará puntaje si adjunta gráficos sin descripción. Para esto puede añadir una descripción en los atributos xlabel, ylabel y título; o añadir una celda markdown debajo del gráfico de la forma "**Figura x:** descripción detallada...".

# Problema

Una institución financiera tradicional le interesa caracterizar a los clientes que han contraído un crédito con el objetivo de ofrecer productos específicos a cada grupo. Para lo anterior cuenta con los siguientes datos:

|**Variable**|**Descripción**|
|--|--|
|`CUSTOMER_ID`|identificador único del cliente|
|`AGE`|edad del cliente al contraer el crédito|
|`EDUCATION`|nivel educacional  que declara el cliente al momento de solicitar el crédito|
|`NATIONALITY`|nacionalidad del cliente|
|`YRS_WORK`|número de años trabajando e la empresa que declara el cliente al momento de solicitar el crédito|
|`YRS_ADDRESS`|número de años viviendo en la misma morada al momento de solicitar el crédito|
|`INCOME`|ingreso en miles de dólares americanos|
|`DEBT_INCOME`|deuda en consumo en miles de dólares americanos|
|`CREDIT_DEBT`| deuda en tarjetas de credito en miles de dólares americanos|
|`OTHER_DEBT`|otras deudas en miles de dólares americanos|

In [80]:
import pandas as pd

In [82]:
df = pd.read_csv("bankloan.csv", sep="|")
df.head()

,CUSTOMER_ID,AGE,EDUCATION,NATIONALITY,YRS_WORK,YRS_ADDRESS,INCOME,DEBT_INCOME,CREDIT_DEBT,OTHER_DEBT
0,10012,28.0,Media,Chilean,7,2.0,44.0,17.7,2.99,4.80
1,10017,64.0,Postgrado,Chilean,34,17.0,116.0,14.7,5.05,12.00
2,10030,40.0,Básica,Chilean,20,12.0,61.0,4.8,1.04,1.89
3,10039,30.0,Básica,Chilean,11,3.0,27.0,34.5,1.75,7.56
4,10069,25.0,Básica,Chilean,2,2.0,30.0,22.4,0.76,5.96

# A. Preparación (3 ptos)

El objetivo de esta sección es comprender y preprocesar los datos previo a la utilización de algoritmos de clustering.

## A.1. Análisis exploratorio (1.5ptos)

Realice un análisis exploratorio de los datos (cantidad de registros, medias, medianas, missing values, etc) y muestre al menos 2 gráficos de variables que considere relevantes para el análisis.

**Nota**: Si solo muestra resultados y no realiza un análisis relevante de estos se dará **0 ptos**.

## A.2. Limpieza de los datos (1.5ptos)

Cree una base de datos consistente para la utilización de algoritmos de clustering. Esto significa realizar `tratamiento de valores pérdidos, tratamiento de valores anómalos, transformaciones y selección de características`. Debe claramente expresar las **features** que utilizará para hacer clustering, las cuales deben ser **al menos 3**. **Justifique** las variables escogidas apoyándose en el análisis exploratorio del punto anterior.

**Nota**: Debe justificar cada acción realizada (o no realizada, ej: decidí no imputar por x razón) sobre los datos, sino las justifica se dara **0 ptos**.

# B. Clustering (3 ptos)

## B.1 K-means: Encontrar el número "óptimo" de clusters. (1 pto)

Utilice el algoritmo K-Means para diferentes números de clusters ($K$), en particular, para $K\in {2, \ldots, 10}$. Luego, en base a alguna métrica encuentre el número **"adecuado"** de clusters (**$K^{*}$**).

**Nota:** Debe justificar la elección de la métrica, sino se dará **0 ptos**.

## B.2 K-means: Interpretación de los clusters. (1 pto)

Interprete los clusters de la configuración **"óptima"** del punto anterior. Para apoyar su análisis puede usar estadísticas descriptivas de los clusters como visualizaciones.

**Nota:** Se dará **0 ptos** si solo muestra resultados y no hace ningún análisis.

## B.3 Clustering jerárquico. (1 pto) 

En esta sección implementará clustering jerárquico aglomerativo. Fije el úmbral de corte de manera que el número de clusters obtenido es igual a $K^{*}$. Luego, interprete los cluster obtenido y comparelos con los obtenidos por K-means.


**Nota:** Se dará 0 ptos si solo muestra resultados y no hace ningún análisis.